NETVENTORY_BASE_URL=https://netventory.quantumnet.space
NETVENTORY_MAIL_FROM="Netventory <no-reply@netventory.quantumnet.space>"
NETVENTORY_REGISTRATION_OPEN=true
NETVENTORY_REQUIRE_EMAIL_CONFIRMATION=true
NETVENTORY_TRUST_DEVICE_DAYS=21
NETVENTORY_ALLOW_PING=true
NETVENTORY_TCP_TIMEOUT=1
